NET "clk_i"       LOC = "Y9"  | IOSTANDARD=LVCMOS33;   // 100 MHz on Zedboard
NET "rst_i"       LOC = "R16" | IOSTANDARD=LVCMOS18;   // BTND (downward) on green flexo
NET "send_i"      LOC = "T18" | IOSTANDARD=LVCMOS18;   // BTNU (up) on green flexo
// blue DIP switch
NET "switch_i<0>" LOC = "F22" | IOSTANDARD=LVCMOS18;   // SWITCH 0
NET "switch_i<1>" LOC = "G22" | IOSTANDARD=LVCMOS18;   // SWITCH 1 
NET "switch_i<2>" LOC = "H22" | IOSTANDARD=LVCMOS18;   // SWITCH 2
NET "switch_i<3>" LOC = "F21" | IOSTANDARD=LVCMOS18;   // SWITCH 3
NET "switch_i<4>" LOC = "H19" | IOSTANDARD=LVCMOS18;   // SWITCH 4
NET "switch_i<5>" LOC = "H18" | IOSTANDARD=LVCMOS18;   // SWITCH 5
NET "switch_i<6>" LOC = "H17" | IOSTANDARD=LVCMOS18;   // SWITCH 6
NET "switch_i<7>" LOC = "M15" | IOSTANDARD=LVCMOS18;   // SWITCH 7
// row of LEDs
NET "led_o<0>"    LOC = "T22" | IOSTANDARD=LVCMOS33;  // LED LD0
NET "led_o<1>"    LOC = "T21" | IOSTANDARD=LVCMOS33;  // LED LD1
NET "led_o<2>"    LOC = "U22" | IOSTANDARD=LVCMOS33;  // LED LD2
NET "led_o<3>"    LOC = "U21" | IOSTANDARD=LVCMOS33;  // LED LD3
NET "led_o<4>"    LOC = "V22" | IOSTANDARD=LVCMOS33;  // LED LD4
NET "led_o<5>"    LOC = "W22" | IOSTANDARD=LVCMOS33;  // LED LD5
NET "led_o<6>"    LOC = "U19" | IOSTANDARD=LVCMOS33;  // LED LD6
NET "led_o<7>"    LOC = "U14" | IOSTANDARD=LVCMOS33;  // LED LD7
// USBUART Pmod on top row of JB
NET "rx_i"        LOC = "V10" | IOSTANDARD=LVCMOS33;   // PMOD B, JB1
NET "tx_o"        LOC = "W11" | IOSTANDARD=LVCMOS33;   // PMOD B, JB2
